<div class="container page-top">
    <div class="row">
        <div class="col-md-9 mx-auto text-center">
            <h4 style="margin:50px;">申請いただいたチームはまだ一覧ページには<br>掲載されません</h4>
                <p>申請はサイト運営による審査に通過次第、一覧ページに掲載されます。</p>
        </div>
    </div>
</div>