<div class="container page-top">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h4>申請いただいたチームはまだ一覧ページには掲載されません</h4>
                <p>申請はサイト運営による審査に通過次第、一覧ページに掲載されます。</p>
        </div>
    </div>
</div>