
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-3 text-center">
			<h3>本当に退会しますか？</h3>
			<br /><br /><p>退会すると、会員登録情報や</p>
			<p>これまでの購入履歴が閲覧できなくなります。</p>
			<p>退会する場合は、「退会する」をクリックしてください。</p>

		<span>
          <%= link_to "退会しない", edit_user_path(current_user), class:"btn btn-primary" %>
        </span>
        <span>
          <%= link_to "退会する", user_withdraw_path(current_user),method: :patch, class:"btn btn-danger" %>
        </span>
		</div>
	</div>
</div>