<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            			<table class="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td></td>
						<td><%= user.name%></td>
						<td><%= user.prefecture %></td>
						<td><%= link_to "  Show", user, class: "user_#{user.id}" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

        </div>
    </div>
</div>