<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto text-center">
        <h2 style="margin:50px;">メッセージ送信完了</h2>
        <p style="margin-bottom:150px;">お問い合わせいただきありがとうございました。<br>ご返信は順次送らせていただいております。</p>
    </div>
  </div>
</div>