<div class="jumbotron about-top" alt= "iSportsの概要">
    <div class="about-top-content">
        <div class="about-logo">
        </div>
        <h1 class="about-top-title">iSports サイト概要</h1>
            <p class="about-top-ps">▶︎iSportsとは？</p>
            <p class="about-top-ps">▶︎iSportの利用方法</p>
            <p clasS="about-top-ps">▶︎ご利用上の注意</p>
    </div>
</div>

<div class="container page-top">
    <div class="row">
            <div class="col-md-5 mx-auto text-center">
                <h2 class="content-title">iSportsとは</h2>
            </div>
            <div class="col-md-8 mx-auto text-center">
                <p class="content-body">iSportsとは、視覚障害者の方をメインにブラインドスポーツに挑戦したい方が
                一歩踏み出すためのきっかけになって欲しいという想いで作りました。このサイトを通して一人でもブラインドスポーツの選手が生まれることを願っています。</p>
            </div>
            <div class="col-md-6 mx-auto text-center" style="margin-top:100px;">
                <h2 class="content-title">当サイトのご利用方法</h2>
            </div>
            <div class="col-md-11 mx-auto">
                <h5 class="box_header">参加者側のフロー</h5>
                    <div class="box">
                    <div class="inner">
                        <ul class="flow">
                            <li>
                                <span class="icon">STEP.01</span>
                                <dl>
                                    <dt>ご登録</dt>
                                    <dd>トップページやヘッダーのリンクからユーザー登録を行ってください。
                                    <br>
                                    <br>※保護者の方が登録を代行する場合も、ご使用者様の情報でご登録してください。</dd>
                                </dl>
                            </li>

                            <li>
                                <span class="icon">STEP.02</span>
                                <dl>
                                    <dt>プロフィールを変更</dt>
                                    <dd>マイページからプロフィールをアレンジしてください。（自己紹介やプロフィール画像など）
                                    <br>自己紹介は興味のあるスポーツや、過去のスポーツ経験、性格など自由にアピールしましょう。</dd>
                                </dl>
                            </li>

                            <li>
                                <span class="icon">STEP.03</span>
                                <dl>
                                    <dt>チームを探す</dt>
                                    <dd>チーム一覧よりジャンルや都道府県を選んで自分にあったチームを探しましょう。
                                    <br>気になるチームを気になるリストに保存できます。（マイページから気になるリストを確認できます。）</dd>
                                </dl>
                            </li>

                            <li>
                                <dl>
                                    <dt><span class="icon">STEP.04</span>チームへの参加希望、ご質問</dt>
                                    <dd>チームの詳細ページよりチームの代表者のユーザーページへ遷移し、チャット機能を利用して
                                    質問、体験のスケジュール調整を行ってください。</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    </div>
            </div>

            <div class="col-md-11 mx-auto">
                <h5 class="box_header">チーム側のフロー</h5>
                    <div class="box">
                    <div class="inner">
                        <ul class="flow">
                            <li>
                                <span class="icon">STEP.01</span>
                                <dl>
                                    <dt>ご登録</dt>
                                    <dd>トップページやヘッダーのリンクからユーザー登録を行ってください。</dd>
                                </dl>
                            </li>

                            <li>
                                <span class="icon">STEP.02</span>
                                <dl>
                                    <dt>プロフィールを変更</dt>
                                    <dd>マイページからプロフィールをアレンジしてください。（自己紹介やプロフィール画像など）</dd>
                                </dl>
                            </li>

                            <li>
                                <span class="icon">STEP.03</span>
                                <dl>
                                    <dt>チーム登録</dt>
                                    <dd>マイページのチーム登録からチームの情報を記入して、申請を送ってください。
                                    <br><br>※運営より申請が許諾されるとチーム一覧に表示されます。</dd>
                                </dl>
                            </li>

                            <li>
                                <dl>
                                    <dt><span class="icon">STEP.04</span>ご連絡対応、勧誘</dt>
                                    <dd>マイページより参加希望者の方からメッセージが届いた場合、ご対応よろしくお願いします。
                                    <br>また、会員一覧より都道府県や年齢、性別を選択し、チームに適したユーザーにこちらからメッセージを送ることも出来ます。
                                    <br>
                                    <br>※試合の相手チームを探してその代表者と連絡を取り合うなどのご利用も可能</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    </div>
            </div>

            <div class="col-md-6 mx-auto text-center" style="margin-top:100px;">
                <h2 class="content-title">ご利用上の注意</h2>
            </div>
            <div class="col-md-8 mx-auto text-center">
                    <p class="content-body">・当サイトはブラインドスポーツのチームと参加希望者のマッチングを目的としたサイトです。
                    <br>その他を目的としたご利用はご遠慮いただきますようお願い致します。
                    <br>
                    <br>・サイト運営より"迷惑行為"、"不正利用"があると判断された場合は、該当ユーザーのログイン情報を無効とさせていただきます。
                    <br>
                    <br>・チャット機能を利用したユーザー間のやり取りは、モラルを意識して相手に不快な思いをさせないようにしてください。
                    </p>
            </div>
    </div>
</div>