// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homes-top{
    background:image-url('top.png');
    background-size: cover;
    height: 600px;
    margin-bottom:150px;
}
.homes-top {
  background-size: cover;
  padding: 150px 0px; /*背景画像の高さを確保*/
  position: relative; /*中の要素の基準値*/
}


.top-message{
    color:white;
    font-size:33px;
    padding:30px;
}

.top-form {
  position: absolute;
  height:250px;
  margin:auto;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
}

.homes-top-inner {
  text-align: center;
  position: absolute;
  width: 100%;
}



// ボタン全体のCSS
.banner-set{
    text-align:center;
}

.button {
margin-right:30px;
display: inline-block;
height: 65px;
width: 250x;
text-decoration: none;
outline: none;
}
.button::before,
.button::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.button,
.button::before,
.button::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
// 新規登録ボタンのCSS
.button {
position: relative;
z-index: 2;
background-color:#daa520;
border: 2px solid#daa520;
color: #fff;
line-height: 50px;
}
.button:hover {
background-color: #fff;
border-color:#daa520;
color:#daa520;
}
.button::before,
.button::after {
left: 0;
width: 100%;
height: 50%;
background-color:#daa520;
}
.button::before {
top: 0;
}
.button::after {
bottom: 0;
}
.button:hover::before,
.button:hover::after {
height: 0;
background-color:#daa520;
}

// ログインボタンのCSS
.button:nth-child(3) {
position: relative;
z-index: 2;
background-color: royalblue;
border: 2px solid royalblue;
color: #fff;
line-height: 50px;
}
.button:nth-child(3):hover {
background-color: #fff;
border-color: royalblue;
color: royalblue;
}
.button:nth-child(3)::before,
.button:nth-child(3)::after {
left: 0;
width: 100%;
height: 50%;
background-color: royalblue;
}
.button:nth-child(3)::before {
top: 0;
}
.button:nth-child(3)::after {
bottom: 0;
}
.button:nth-child(3):hover::before,
.button:nth-child(3):hover::after {
height: 0;
background-color: royalblue;
}

.content-title {
  line-height:10px;
  position: relative;
  padding-bottom: .5em;
}
.content-title::before,
.content-title::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  height: 4px;
}
.content-title::before {
  z-index: 2;
  width: 15%;
  background-color: #444;
}

.content-title::after {
  width: 100%;
  background: -webkit-repeating-linear-gradient(45deg, #fff, #fff 2px, #aaa 2px, #aaa 4px);
  background: repeating-linear-gradient(45deg, #fff, #fff 2px, #aaa 2px, #aaa 4px);
}

.content-body {
    margin-top:30px;
    line-height:30px;
    font-size:16px;
}

// リストのCSS
ul.cp_list {
	padding:0.5em;
	list-style-type:none;
}
ul.cp_list li {
	position:relative;
	padding: 0em 0.3em 0em 1.3em;
}
ul.cp_list li::before,ul.cp_list li::after {
	position: absolute;
	content: '';
	display: inline-block;
}
ul.cp_list li::after {
	top: 8.4px;
	left: 0;
	width: 9px;
	height: 9px;
	border-radius: 25%;
	border-right: 3px solid rgb(54, 54, 54);
	border-bottom: 3px solid rgb(54, 54, 54);
	transform: rotate(-45deg);
}
ul.cp_list li::before {
	top: 11px;
	left: 0;
	width: 9px;
	height: 3px;
	background-color: rgb(44, 44, 44);
	border-radius: 25%;
}

// ボタン全体のCSS
.banner-set{
  text-align:center;
}

.button {
margin-right:30px;
display: inline-block;
height: 65px;
width: 250x;
text-decoration: none;
outline: none;
}
.button::before,
.button::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.button,
.button::before,
.button::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
// 一覧ページへのリンクボタンのCSS

.button-index {
margin-right:30px;
display: inline-block;
height: 45px;
width: 250x;
text-decoration: none;
outline: none;
}
.button-index::before,
.button-index::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.button-index,
.button-index::before,
.button-index::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}

.button-index {
position: relative;
z-index: 2;
background-color:#0e7536;
border: 2px solid#0e7536;
color: #fff;
}
.button-index:hover {
background-color: #fff;
border-color:#0e7536;
color:#0e7536;
}
.button-index::before,
.button-index::after {
left: 0;
width: 100%;
height: 50%;
background-color:#0e7536;
}
.button-index::before {
top: 0;
}
.button-index::after {
bottom: 0;
}
.button-index:hover::before,
.button-index:hover::after {
height: 0;
background-color:#0e7536;
}

.ps{
  font-size:10px;
  margin:20px;
}

#skippr{
  height: 260px;
  background-color: rgb(44, 44, 44);
  color:white;
}

.slide-right{
  margin-top:30px;
}
.slide-left{
  margin-top:30px;
}
.team-name{
  margin-top:15px;
}
