// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-content{
    padding: 20px;
}

.search-tag{
    display:inline;
    margin:7px;
}

.team-content{
    border-bottom:solid 1px #dcdcdc;
    padding:30px;
}

.right-detail{
    line-height:3;
}

.right-content-title{
    font-weight:bolder;
    background: linear-gradient(transparent 60%, #ffe8fc 60%);
    margin-right:10px;
}

.btn-set{
    padding:20px;
}



@media screen and (max-width:770px) {
    .team-content-left{
        margin-bottom:10px;
    }
    .team-content-right{
        text-align: center;
        float:left;
    }
    .right-content-title{
        display: block;
        background: none;
    }
    .right-detail{
        line-height: 1;
        text-align:center;
    }
}