// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-content{
    padding: 20px;
}

.search-tag{
    display:inline;
    margin:7px;
    width:70%;
}

.team-content{
    border-bottom:solid 1px #dcdcdc;
    padding:30px;
}